<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="searchHospital(input.value)" type="text" class="form-control"
                    placeholder="buscar hospital...">
            </div>
        </div>
    </div>
</div>
<!--Start Load Alert-->
<app-load-alert *ngIf="loading"></app-load-alert>
<!--End Load Alert-->

<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                
                <div class="text-right">
                    <button (click)="createHospital()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                        <i class="fa fa-plus"></i> Crear Hospital
                    </button>
                </div>
                <h3 class="card-title">Hospitales registrados (<small>{{totalRecords}}</small>)</h3>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Hospital</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitals">
                                <td class="w70">
                                    <img (click)="viewModal(hospital._id)" [src]="hospital.img | imagen:'hospital'"
                                        class="img-50 pointer">
                                </td>
                                <td>
                                    <input [(ngModel)]="hospital.name" name="name" type="text" class="form-control" placeholder="Nombre del Hospital">
                                </td>
                                <td>
                                    <button (click)="saveHospital(hospital)" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                    </button>
                                    <button class="btn btn-danger " (click)="removeHospital(hospital)">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button (click)="changeFrom(-5)" class="btn btn-secondary">
                        Anteriores
                    </button>
                    <button (click)="changeFrom(5)" class="btn btn-secondary ml-2">
                        Siguientes
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>